<app-header></app-header>



<br>
<br>
<div class="text-center" >
  <h1>Shop <span class="title">Products </span> And <span class="title">Goods</span>  Website</h1>
                <p>Get started with the Amazing Website.You can do ot i know.Because its your choice</p>  
  <p class="lead">
      <a class="btn btn-outline-info btn-lg" href="#" role="button">Learn more</a>
    </p>

    <div class="container">
      <img src="assets/images/webshop.svg" width="500px" height="500px" alt="">

    </div>
  </div>





  <div class="shopping-process text-center">

    <div class="container">

        <div class="row">

            <div class="col-md-3 col-sm-3">

               <div class="single-process">

                    <i class="fa fa-check"></i>

                    <h3>Choose a Product</h3>

                    <p>The European languages are members the same family. Their separate existence science </p>

                </div>

            </div>

            <div class="col-md-3 col-sm-3">

               <div class="single-process">

                    <i class="fa fa-cart-arrow-down"></i>

                    <h3>Add to Cart</h3>

                    <p>The European languages are members the same family. Their separate existence science </p>

                </div>

            </div>

            <div class="col-md-3 col-sm-3">

               <div class="single-process">

                    <i class="fa fa-money"></i>

                    <h3>Make Order</h3>

                    <p>The European languages are members the same family. Their separate existence science </p>

                </div>

            </div>

            <div class="col-md-3 col-sm-3">

               <div class="single-process">

                    <i class="fa fa-dashcube"></i>

                    <h3>Deliver For Free</h3>

                    <p>The European languages are members the same family. Their separate existence science </p>

                </div>

            </div>

        </div>

    </div>

</div>