<div class="navbar navbar_2">
  <div class="logo">My<span>Shopping</span></div>
  <ul class="menu">
    <li>
      <a routerLink="/products/electronics" routerLinkActive="active" >Electronics</a>
    </li>

    <li>
      <a routerLink="/products/jewelery" routerLinkActive="active">Jewelery</a>
    </li>
    <li>
      <a  routerLink="/products/clothing" routerLinkActive="active">Clothing</a>
    </li>


  </ul>
    <div class="row">
      <div class="search_box">
        <i class="fa fa-search" aria-hidden="true"></i>
              <input type="text" class="input_search">
      </div>
      <button class="btn btn-outline-success " style="margin-left: 10px;" type="submit">Search</button>
  
    </div>

  </div>
<br>
<hr style="height: 2px;background-color: #adaeb1;">








<!--
<div class="header-wrapper">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a routerLink="/products/electronics" routerLinkActive="active" class="btn-lg nav-link" aria-current="page" href="#">Electornics</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link btn-lg" routerLink="/products/jewelery" routerLinkActive="active">Jewelery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn-lg" routerLink="/products/jewelery" routerLinkActive="active">Clothing</a>
    </li>
  </ul>

</div>

-->

  <br>